KF wall mounted cantilever crane is a medium-speed lifting equipment developed recently. It has characteristics of unique stucture safe and reliable operation, high efficiency,energy-saving ,time-saving,effort-saving, and flexibility. It can be operated under three dimensional environment. It is superior in the cases of short distance, concentrated lifting. It is widely used at various sites for various trades.

KF wall mounted cantilever crane working environment:

1) power source is three-phase alternating current, rated frequency is 50hz, rated voltage is 380V

2) the altitude height of site is ought to be less than 2000m
3) flammable ,explosive and corrosive gas are forbidden in the work enviroment
4) the crane is forbidden to lifte fuse and blend deleterious article and flammable explosive article

KF wall mounted cantilever crane notice:
Ordering or signing the contract, coustomers must offer the basic paramenters (such as rated lifting weight, lifting height valid radius and so on) so that supply the products that fulfil the requirement of work.

In order to meet continuous changing economy and social needs, we have first-class technique, complete managing mechanism, wide marketing channels, and excellent sale servise system.Our activities are governed by our quality system in compliance with the standard ISO 9001,SGS,CE Certifications.  

BRAND:KF CRANE(SMF HEAVY INDUSTRY (SUZHOU) CO.,LTD)
E-mail:joannaniuu@gmail.com
MOBOLE:+86-13213085821
TEL:86-512-36822106
SKYPE:Joanna kfcrane
